body
  font-family: 'Roboto', sans-serif
  background-color: rgb(240, 240, 240)
  margin: 0
  padding: 0

.cards-container
  display: flex
  flex-direction: column
  align-items: center

.card
  background-color: white
  color: black
  padding: 20px
  margin: 20px
  border-radius: 5px
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
  transition: background-color 0.3s
  width: 80% // Adjust this to your preference for card width
  display: flex // Add this to make sure card behaves as a flex container

  &:hover
    background-color: rgb(191, 226, 191)
    color: rgb(42, 45, 44)

  .card-content
    display: flex
    align-items: center
    width: 100%

    .text-content
      margin-left: 20px // Add some spacing between image and text
      h2
        margin: 0
        font-size: 24px

      p
        margin: 10px 0 0
        font-size: 16px

.even .card-content
  flex-direction: row-reverse

.odd .card-content
  flex-direction: row

a
  text-decoration: none
  color: inherit

    


header
    background-color: rgb(72, 112, 72)
    color: white
    padding: 10px
    text-align: center
    font-size: 20px
    font-weight: bold
    margin-bottom: 20px
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    transition: background-color 0.3s
    
    &:hover
        background-color: rgb(120, 182, 120)
        color: black
    
    li 
        display: inline
        margin: 0 10px
        font-size: 16px
        font-weight: normal
        color: white
        text-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
        transition: color 0.3s

        &:hover
            color: black

footer
    background-color: rgb(72, 112, 72)
    color: white
    padding: 10px
    text-align: center
    font-size: 16px
    font-weight: bold
    margin-top: 20px
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5)
    transition: background-color 0.3s
    
    &:hover
        background-color: rgb(120, 182, 120)
        color: black

    a
        color: white
        text-decoration: none
        transition: color 0.3s

        &:hover
            color: black


.all-events-container
  font-family: 'Roboto', sans-serif
  background-color: rgb(240, 240, 240)
  padding: 20px
  color: black

.event-card
  display: inline-block
  position: relative
  margin: 10px
  border-radius: 5px
  overflow: hidden

  &:hover
    transform: translateY(-5px)
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3)

  a
    display: block
    position: relative
    color: white
    text-decoration: none

    &:hover
      color: rgb(191, 226, 191)

    .event-image
      display: block
      width: 300px
      height: 300px
      transition: transform 0.3s ease-in-out

    .event-text
      font-family: 'arial', sans-serif
      font-weight:600
      position: absolute
      top: 50%
      left: 50%
      transform: translate(-50%, -50%)
      text-align: center
      text-transform: uppercase
      font-size: 40px

.cat-event-container 
  font-family: 'Roboto', sans-serif
  background-color: rgb(240, 240, 240)
  padding: 20px

  h1 
    font-size: 24px
    font-weight: bold
    margin-bottom: 20px
    text-align: center
    text-transform: uppercase
    color: rgb(72, 112, 72) // Adjust color as needed
  

  .event-cards-container 
    display: flex
    flex-wrap: wrap
    gap: 20px /* Adjust the gap between cards */
    justify-content: center /* Center align cards horizontally */
  

  .event-card 
    flex: 1 0 calc(50% - 20px) /* Two cards per row with 20px gap */
    display: flex
    align-items: center
    margin-bottom: 20px
    padding: 15px
    border-radius: 5px
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3)
    transition: background-color 0.3s, color 0.3s

    &:hover 
      background-color: rgb(191, 226, 191)

      .event-details 
        h2, p 
          color: rgb(42, 45, 44)
        
      
    

    .event-image-container 
      flex: 0 0 150px /* Adjust image container width */
      margin-right: 20px

      .event-image 
        width: 100%
        height: auto
        border-radius: 5px
      
    

    .event-details 
      flex: 1
      display: flex
      flex-direction: column

      h2 
        font-size: 20px
        margin-bottom: 10px
        text-transform: uppercase
        color: rgb(42, 45, 44) // Initial text color
        transition: color 0.3s
      

      p 
        font-size: 16px
        line-height: 1.5
        color: rgb(42, 45, 44) // Initial text color
        transition: color 0.3s
      

// SingleEvent.module.sass

.single-event-container
  max-width: 800px
  margin: auto
  text-align: center
  padding: 20px

  .image-container
    margin-bottom: 20px

  h1
    font-size: 28px
    font-weight: bold
    margin-bottom: 10px

  p
    font-size: 16px
    line-height: 1.6
    margin-bottom: 20px

  form
    display: flex
    justify-content: center
    align-items: center
    margin-bottom: 20px

    input[type='email']
      height: 40px
      min-width: 300px
      border-radius: 5px
      padding: 0 10px
      font-size: 16px

    button[type='submit']
      margin-left: 10px
      border-radius: 5px
      height: 40px
      min-width: 150px
      border: 1px solid #5f5a5a
      font-size: 16px
      font-weight: 600
      background-color: rgb(191, 226, 191)
      cursor: pointer
      transition: color 0.3s, background 0.3s

      &:hover
        background: #333
        color: rgb(191, 226, 191)
